td {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}
table {
  margin: 0 auto;
}


.walls {
  background-color: blue;
}

.money {
  background-color: yellow;
}

.floor {
  background-color: black;
}

.thief {
background-color: red;
}