body {
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

margin: 0;

}
td {
  width: 32px;
  color: white;
  }

p {
  font-family: 'Games', sans-serif;
  font-size: 1.9em;
  margin-right: -20px;
  letter-spacing: 2px;
  color: rgba(255, 20, 20, 1);
  border: 4px solid;
  border-color: white;
  padding: 10px;

}

table {
  margin: 0 auto;
  /*margin-left: 20%;
  margin-top: 5%;*/
  border-collapse: collapse;
  background-color: rgb(0, 0, 0, 0.8);
  display: inline-block;

}

#liMoneyCounter {
  list-style: none;
  margin-bottom: 50px;
  margin-top: 50px;
}

#liMoneyCounter::before{
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-image: url('../assets/images/bitcoin.svg');
  vertical-align: -7px;
}

#liLifeCounter {
  list-style: none;
}

#liLifeCounter::before{
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-image: url('../assets/images/life.svg');
  vertical-align: -7px;
}
#liLvl {
  list-style: none;
  margin-bottom: 50px;
  margin-top: 50px;
}

#liLvl::before{
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: cover;
  background-image: url('../assets/images/lvl.svg');
  vertical-align: -7px;
}

.panel {
  background-color: rgb(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
}

#contentInformation {
  width: 250px;
  margin: 50px;
  background-color: rgb(0, 0, 0, 0);
}

.separateCol {
  background-color: #000;
}
.title  {
  display: inline;
  text-align: center;
}

#moneyCounter, #lifeCounter, #lvl{
  text-align: center;
  font-size: 50px;
  margin-left: 50px;
  font-family: 'Games', sans-serif;
  display: inline;
  width: 100px;
}

.walls {
  background-color: white;
  background-image: url('../assets/images/wall.svg');
  background-size: cover;
  filter: saturate(300%) brightness(50%);
}

.money {
  background-image:  url('../assets/images/bitcoin.svg');
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
}

.floor {
  background-color: black;
}

.thief {
  background-image: url('../assets/images/thief.svg');
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(300%) brightness(100%) contrast(150%);
}

.cop {
  background-image: url('../assets/images/police.svg');
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(300%) brightness(100%) contrast(150%);

}

/* ******************************** modal fin de juego ************************************************* */


.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 30px;
  margin-left: 35%;
  margin-top: 10%;
  left: 0;
  top: 0;
  width: 35%;
  height: 35%;



}

/* Modal Content */
.modal-content {
  background-color: rgb(0, 0, 0, 0.9);

  padding: 10px;
  border: 1px solid #888;

  height: 300px;
  text-align: center;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content img {
  width: 200px;
  height: 200px;
  display:block;
  margin:auto;
   transform: scale(0.7);

}
#gameOverImg {
  width: 90px;
  height: 90px;
  margin-left: 80px;
  margin-right: 20px;


}

/****************************************************************************************/

#begin {
  margin-top: 1.5%;
  margin-right: 50px;
  margin-left: 50px;
  padding: 5px;

  background-color: #888;
  width: 250px;
  height: 250px;
}

#btns {
  display: inline-block;
  width: 200px;
  padding-left: 50px;
}

#btnPlay {


  width: 70px;
  height: 70px;
  background-image: url('../assets/images/play.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 35%;
  display: inline-block;
  margin-left: 40px;
}

#btnPause {
  margin-top: 30%;
  margin-left: 15px;
  margin-bottom: 70px;
  width: 70px;
  height: 70px;
  background-image: url('../assets/images/pause.svg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 35%;
  display: none;
}

#txtgameOver, #txtgameWin {
  font-family: 'Games', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: red;
  text-align: center;

}
/**ini***/
.modalIni {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 110%;
  height: 100%;
  background: url('../assets/images/portada.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
